global
    maxconn 100
    log     127.0.0.1 local2

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server postgresql_servera_6432 192.168.11.150:6432 maxconn 100 check port 8008
    server postgresql_serverb_6432 192.168.11.151:6432 maxconn 100 check port 8008
    server postgresql_serverc_6432 192.168.11.152:6432 maxconn 100 check port 8008
